nnoremap <C-l> o<Enter><Esc>O
inoremap kj <Esc>
cnoremap kj <Esc>
vnoremap kj <Esc>
nnoremap <leader>ne :NERDTree<cr>
nnoremap <leader>ev :tabnew $MYVIMRC<cr>
nnoremap <leader>cl gg<S-v><S-g>dd<Esc>i
